<style>
    .my-button {
        margin-top: 1em;
        background-color: darkgrey;
        border: 1px solid black;
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }

    .my-code {
        background-color: lightgrey;
        border: 1px solid;
        padding: 4px;
        min-height: 4em;
    }
</style>

<h3>LHC-Forms Readonly Demo</h3>

<LhcForm ReadOnly="true" @ref="lhcForm" />

<button class="my-button" @onclick="OnGetResponseClicked">Get Response</button>

<hr class="my-4" />

<pre class="my-code">
    <code>
        @formResponse
    </code>
</pre>

@code {
    LhcForm lhcForm;


    string formDef = """
{
  "status": "draft",
  "title": "Demo Form",
  "resourceType": "Questionnaire",
  "item": [
    {
      "type": "open-choice",
      "code": [
        {
          "code": "X-002",
          "display": "Eye color"
        }
      ],
      "linkId": "X-002",
      "text": "Eye color",
      "answerOption": [
        {
          "valueCoding": {
            "code": "br",
            "display": "Brown"
          }
        },
        {
          "valueCoding": {
            "code": "g",
            "display": "Green"
          }
        },
        {
          "valueCoding": {
            "code": "bl",
            "display": "Blue"
          }
        },
        {
          "valueCoding": {
            "code": "o",
            "display": "Other"
          }
        }
      ]
    }
  ]
}
""";


    string formResponse1 = """
{
    "resourceType": "QuestionnaireResponse",
    "meta": {
        "profile": [
            "http://hl7.org/fhir/4.0/StructureDefinition/QuestionnaireResponse"
        ],
        "tag": [
            {
                "code": "lformsVersion: 38.2.0"
            }
        ]
    },
    "status": "completed",
    "authored": "2026-01-08T08:59:02.865Z",
    "item": [
        {
            "answer": [
                {
                    "valueCoding": {
                        "code": "g",
                        "display": "Green"
                    }
                }
            ],
            "linkId": "X-002",
            "text": "Eye color"
        }
    ]
}
""";

    string formResponse;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await lhcForm.LoadFormAsync(formDef, formResponse1);
        }
    }

    async Task OnGetResponseClicked()
    {
        var response = await lhcForm.GetDataAsync();
        if (!string.IsNullOrEmpty(response))
        {
            formResponse = response.JsonPrettify();
            StateHasChanged();
        }
    }



}
