@using Microsoft.Extensions.DependencyInjection
@using iPath.Application.Fhir
@using iPath.Domain.Entities.Base

@namespace iPath.Blazor.Componenents.Shared.Coding

<MudPaper>
    <h3>@T["Body site filter (icd-o)"]</h3>
    @if (RendererInfo.IsInteractive)
    {
        <MudStack AlignItems="AlignItems.Center">
            <MudTextField T="string" Label="Search" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          TextChanged="OnTextChanged" Immediate="true" Clearable="true" />
            <CodingTreeFilter TreeItems="BodySiteCodes" @ref="_treeView"
                              @bind-Selection="_sel" @bind-Selection:after="OnChange" />

        </MudStack>
        <div style="border: 1px; margin-top: 8px;">
            <strong>selection: </strong> @sel
        </div>
    }
    else
    {
        <MudSkeleton Height="200px" />
    }
</MudPaper>

@inject IServiceProvider sp;

@code {
    [Parameter]
    public ConceptFilter? Filter { get; set; }

    [Parameter]
    public EventCallback<ConceptFilter?> FilterChanged { get; set; }


    CodingTreeFilter _treeView;
    IReadOnlyCollection<CodeDisplay> _sel { get; set; }

    string sel => _sel is null ? "--" : string.Join(", ", _sel.Select(x => x.Code).ToArray());

    public List<TreeItemData<CodeDisplay>> BodySiteCodes { get; private set; } = new();

    const string system = "icdo";
    const string vsid = "icdo-topo";


    async Task OnChange()
    {
        StateHasChanged();
        var list = _sel.ToArray().ToConcept(_coding.CodeSystemUrl).ToList();
        if (list.IsEmpty())
        {
            Filter = null;
        }
        else
        {
            Filter = new() { Concetps = list };
        }
        await FilterChanged.InvokeAsync(Filter);
    }


    CodingService _coding;
    ValueSetDisplay _valueset;
    protected override async Task OnInitializedAsync()
    {
        _coding = sp.GetRequiredKeyedService<CodingService>(system);
        var _loader = sp.GetRequiredService<IFhirDataLoader>();

        // TODO: initilize in DI startup
        await _coding.LoadCodeSystem();
        await _coding.LoadValueSet(vsid);
        _valueset = _coding.GetValueSetDisplay(vsid);

        // if only one root node => start with it's childrend
        // TODO: write an extension that finds the first node with more than 1 child
        if (_valueset.DisplayTree.Count == 1)
        {
            BodySiteCodes = _valueset.DisplayTree.First().Children.ToTreeView();
        }
        else
        {
            BodySiteCodes = _valueset.DisplayTree.ToTreeView();
        }

        LoadFilter();
    }

    private void LoadFilter()
    {
        if (Filter is not null && _valueset is not null)
        {
            var mysel = new List<CodeDisplay>();
            foreach (var code in Filter.Concetps)
            {
                mysel.Add(_valueset.FindConceptByCode(code.Code));
                // TODO: add all child concepts for display in tree
            }
            _sel = mysel;
        }
        else
        {
            _sel = new List<CodeDisplay>();
        }
        StateHasChanged();
    }

    private async Task OnTextChanged(string term)
    {
        await _treeView.Search(term);
    }
}
