@using Microsoft.Extensions.DependencyInjection
@using iPath.Application.Fhir
@using iPath.Domain.Entities.Base

@namespace iPath.Blazor.Componenents.Shared.Coding

<MudPaper Elevation="0">
    <MudStack Row AlignItems="AlignItems.End">
        <h3>@T["Body site filter (icd-o)"]</h3>
        <MudSpacer />
        <MudTextField T="string" Label="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" Variant="Variant.Outlined" Margin="Margin.Dense"
                      TextChanged="Search" Immediate="true" Clearable="true" />

    </MudStack>
    <MudDivider />
    @if (true || RendererInfo.IsInteractive)
    {
        <CodingTreeFilter TreeItems="BodySiteCodes" @ref="_treeView" SelectionChanged="OnChange" />

        <div style="border: 1px; margin-top: 8px; font-size: 0.7em;">
            <strong>filter: </strong> @FilterStr
        </div>
    }
    else
    {
        <MudSkeleton Height="200px" />
    }

    @if (!string.IsNullOrEmpty(error))
    {
        <MudAlert Severity="Severity.Warning">@error</MudAlert>
    }
</MudPaper>

@inject IServiceProvider sp;

@code {
    [Parameter]
    public ConceptFilter? Filter { get; set; }

    [Parameter]
    public EventCallback<ConceptFilter?> FilterChanged { get; set; }

    [Parameter]
    public bool UpdateFilterOnChange { get; set; }


    CodingTreeFilter _treeView;

    // HashSet<string> _selectedCodes = new();
    string FilterStr => Filter is null ? "--" : Filter.ConceptCodesString;

    public List<TreeItemData<CodeDisplay>> BodySiteCodes { get; private set; } = new();

    const string cs = "icdo";
    const string vsid = "icdo-topo";

    string error;

    async Task OnChange()
    {
        if (UpdateFilterOnChange)
        {
            SaveFilter();
        }
        StateHasChanged();
    }



    protected override async Task OnInitializedAsync()
    {
        await LoadCoding();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadCoding();
        LoadFilter();
    }

    protected override void OnAfterRender(bool firstRender)
    {
    }


    private CodingService _coding;
    private ValueSetDisplay _valueset;

    protected async Task LoadCoding()
    {
        if (_coding is null)
        {
            _coding = sp.GetRequiredKeyedService<CodingService>(cs);
            var _loader = sp.GetRequiredService<IFhirDataLoader>();

            await _coding.LoadCodeSystem();
            await _coding.LoadValueSet(vsid);

            _valueset = _coding.GetValueSetDisplay(vsid);

            if (_valueset is null)
            {
                error = _coding is null ? $"CodeSystem {cs} not found" : $"ValueSet {vsid} not found";
            }
        }
    }


    private void LoadFilter()
    {
        if (_valueset is not null)
        {
            var r = _valueset.DisplayTree;
            if (r.Count == 1)
            {
                var _selectedCodes = Filter is null ? [] : Filter.ConceptCodes;
                BodySiteCodes = r.First().Children.ToTreeViewSelection(_selectedCodes, false);
            }
            StateHasChanged();
        }
    }


    private async Task Search(string term)
    {
        await _treeView.Search(term);
    }

    public void SaveFilter()
    {
        var _selectedCodes = BodySiteCodes.ToSelectedCodes();
        if (_selectedCodes.Any())
        {
            Filter ??= new();
            Filter.Concetps = new();
            foreach (var code in _selectedCodes)
            {
                var c = _valueset.GetByCode(code);
                Filter.Concetps.Add(c.ToConcept(_coding.CodeSystemUrl));
            }
        }
        else
        {
            Filter = null;
        }
        StateHasChanged();
    }

}
