@if (Errors.Length > 0)
{
    <MudAlert Severity="Severity.Error">
        @foreach (var msg in Errors)
        {
            <p>@msg</p>    
        }
    </MudAlert>         
}

@code {
    [Parameter]
    public string[] Errors { get; set; } = { };

    [Parameter]
    public EventCallback<string[]> ErrorsChanged { get; set; }


    public void AddError(string error){
        Errors = Errors.Union(new[] { error }).ToArray();
        StateHasChanged();
    }
}
