<MudContainer MaxWidth="MaxWidth.Small">
    <MudAlert Class="mt-15 pa-4" Variant="Variant.Outlined" Severity="Severity.Info" NoIcon>
        <MudProgressCircular Size="Size.Medium" Indeterminate="true" />
        <p>loading ...</p>
    </MudAlert>
</MudContainer>