@using Microsoft.Extensions.Options
@using iPath.Domain.Config
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
    <link href=@Assets["_content/iPath.Blazor.Componenents/css/ipath.css"] rel="stylesheet" />

    <!-- LHC-Forms -->
    <link href="https://lhcforms-static.nlm.nih.gov/lforms-versions/38.7.2/webcomponent/styles.css" rel="stylesheet" />

    <!-- HTML Editor -->
    <link href="_content/Tizzani.MudBlazor.HtmlEditor/MudHtmlEditor.css" rel="stylesheet" />
    <ImportMap />
    <HeadOutlet @rendermode="PageRenderMode" />
</head>

<body>
    <Routes @rendermode="PageRenderMode" />
    <script src="_framework/blazor.web.js"></script>
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>
    <script src=@Assets["_content/Extensions.MudBlazor.StaticInput/NavigationObserver.js"]></script>

    <!-- LHC-Forms -->
    <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/38.7.2/webcomponent/assets/lib/zone.min.js"></script>
    <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/38.7.2/webcomponent/lhc-forms.js"></script>
    <script src="https://lhcforms-static.nlm.nih.gov/lforms-versions/38.7.2/fhir/R4/lformsFHIR.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/fhirclient/build/fhir-client.js"></script> -->

    <!-- HTML Editor -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script src="_content/Tizzani.MudBlazor.HtmlEditor/quill-blot-formatter.min.js"></script>

    <!-- Sortable JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

    <!-- OpenSeadragon (image viewer)-->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/openseadragon@4.1.1/build/openseadragon/openseadragon.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/episphere/GeoTIFFTileSource-JPEG2k/GeoTIFFTileSource.js" type="module" crossorigin="anonymous"></script>
    <script src=@Assets["_content/iPath.OpenSeadragon/viewer.js"]></script>
    -->

    <!-- site script -->
    <script src=@Assets["_content/iPath.Blazor.Componenents/js/imagesource.js"]></script>
    <script src=@Assets["_content/iPath.Blazor.Componenents/js/sortable.js"]></script>
    <script src=@Assets["_content/iPath.Blazor.Componenents/js/ipath.js"]></script>
</body>

</html>

@inject IOptions<iPathClientConfig> opts

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;


    private IComponentRenderMode interactiveRenderMode => opts.Value.RenderMode.ToLower() switch
    {
        "auto" => new InteractiveAutoRenderMode(prerender: opts.Value.Prerender),
        "server" => new InteractiveServerRenderMode(prerender: opts.Value.Prerender),
        _ => new InteractiveWebAssemblyRenderMode(prerender: opts.Value.Prerender)
    };

    private IComponentRenderMode? PageRenderMode => HttpContext.AcceptsInteractiveRouting() ? interactiveRenderMode :  null;
}
