@using Microsoft.Extensions.DependencyInjection


<h3>CodingFilterView</h3>

@if (Filter != null)
{
    <CodingLookup CodingService="@CodingService" ValueSetId="@ValueSetId" @ref="lookup"
                  @bind-Concept="NewValue" @bind-Concept:after="AddCode"
                  Variant="Variant.Outlined" Margin="Margin.Dense" MaxItems="100" />

    <MudList T="CodedConcept">
        @foreach (var c in Filter.Concetps)
        {
            <MudListItem Value="c">
                <MudStack Row Spacing="0">
                    @c.ToDisplay()
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick=@(() => Remove(c)) />
                </MudStack>
            </MudListItem>
        }
    </MudList>
}
