@using System.Text.Json
@using Microsoft.JSInterop

@implements IAsyncDisposable
@implements IQuestionnaireForm
@inject IJSRuntime JS


<div id="@id" class="form"><span>loading ...</span></div>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="error">@ErrorMessage</div>
}


@code {
    [Parameter, EditorRequired]
    public bool ReadOnly { get; set; }

    private string id = $"lhcform_{Guid.NewGuid().ToString("N")}";


    lhcformsJsInterop interop;
    string ErrorMessage;

    protected override void OnInitialized() 
    {
        interop = new lhcformsJsInterop(JS);
    }

    public async ValueTask DisposeAsync()
    {
        await interop.DisposeAsync();
    }

    public async Task LoadFormAsync(string questionnaire, string questionnaireResponse = "")
    {
        try
        {
            await interop.LoadDataAsync(questionnaire, questionnaireResponse, id, ReadOnly);
        }
        catch(Exception ex)
        {
            ErrorMessage = ex.Message;
        }   
    }

    public async Task<string?> GetDataAsync()
    {
        try
        {
            var res = await interop.GetDataAsync(id);
            return res;
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
        return null;
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await OnAfterRendered.InvokeAsync();
        }
    }

    [Parameter]
    public EventCallback OnAfterRendered { get; set; }
}