@page "/Account/Logout"


@inject SignInManager<User> SignInManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager


<PageTitle>Log out</PageTitle>

<h3>Log out</h3>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
        await SignInManager.SignOutAsync();
        RedirectManager.RedirectTo("/");
    }
}
